.post {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* display: flex; */
    /* flex-direction: column; */
    margin-bottom: 1rem;
}

.post p {
    margin: 0;
}

.addPost {
    width: 300px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1rem;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.postInput {
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.commentInput {
    width: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}


img{
    width: 100%
}