.todo input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.innerCheckbox {
    margin-bottom: 0.5rem;
}

h1 {
    text-align: center;
}

.buttons-container {
    display: flex;
    gap: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.buttons-container button {
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 4px;
    background-color: #fa5fcc;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search,
.addTodo {
    width: 300px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.delete {
    border-color: rgb(105, 93, 93);
    border-style: groove;
    width: 100%;
    margin-top: 6px;
}

#plus {
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #fa5fcc;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.todo {
    width: 100%;
    max-width: 250px;
    margin-right: 0px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}


#allTodos {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 0.5fr));
    gap: 1em;
    margin: 35px;
    margin-left: 90px;
}

.todos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.todoInput {
    width: 80%;
    margin-bottom: 1em;
}