html,
body {
    font-size: 12px;
    margin: 0;
    direction: rtl;
    font-family: 'Bubblegum Sans', serif;
    font: 500 1rem 'Quicksand', sans-serif;
    /* opacity: 100%; */
    background-color: white;
    margin: 0;
}

nav {
    background-color: #fa5fcc;
    border: 2px solid black;
    justify-content: space-around;
    height: 18%;
    font-size: 0;
    display: flex;
    align-items: flex-end;
    padding: 0;
}

nav a {
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
    text-shadow: 0 0 1px;
    padding: 10px 20px 10px 20px;
}

nav a:hover {
    transform: scale(1.026);
}

nav a {
    transition: 0.7s;
}

@media screen and (max-width:560px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}