.post {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    border: 1px solid #181414;
    border-radius: 4px;
    background-color: white;
}

.post p {
    margin: 0;
}

.addPost {
    width: 300px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid #5a5656;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto
}

.posts {
    width: 70%;
    max-width: 70%;
    padding: 2rem;
    border-radius: 4px;
    opacity: calc(#000000);
    direction: ltr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 2%;
    
}

.postInput {
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.commentInput {
    width: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #181414;
    border-radius: 4px;
}


img{
    width: 100%
}

.allPost
{
    width: 80%;
    max-width: 80%;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: calc(#000000);
    direction: ltr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 2%;
    border: 1px solid #5a5757;
    border-radius: 4px;
}


.btnMiddle{
    width: 300px;
    padding: 1rem;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}